%div
  %h2.mt-6.text-3xl.font-extrabold.text-gray-700
    Recruiting Dashboard
.flex.w-full.space-x-8.sm:flex-col.md:flex-row.flex-1
  .sm:w-full{:class => "md:w-1/2"}
    = turbo_frame_tag "applicants_chart", src: chart_path(chart_type: "Charts::ApplicantsChart"), loading: "lazy"
  .sm:w-full{:class => "md:w-1/2"}
    = turbo_frame_tag "hiring_stages_chart", src: chart_path(chart_type: "Charts::HiringStagesChart"), loading: "lazy"
